<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <%- include('../partials/nav.ejs', {currentUser: currentUser}) %>
    <h1>New Session</h1>
    <form action="/sessions/" method="POST">
      username: <input type="text" name="username" placeholder="username"><br>
      password: <input type="text" name="password" placeholder="password"><br>
      <button>Submit</button>
    </form>
  </body>
</html>
