<div class="container">
  <% data.forEach(item => { %>
      <a href="/drawings/<%=item.id%>"><img src="/img/<%=item.id%>" alt="" class="clickable" width="200px" height="200px"></a>
  <% }) %>
</div>
