<div class="container">
  <% data.forEach(item => { %>
    <div class="griditem">
      <a href="/drawings/<%=item.id%>"><img src="/img/<%=item.id%>" alt="" class="clickable"></a>
    </div>
  <% }) %>
</div>
