<nav>
  <a href="/"><img src="/favicon.png" alt="" width="21px" height="21px"></a>
  <span>Drawing with My Friends Online</span>
  <% if (! typeof currentUser === 'undefined') { %>
    <span class="right">currentUser</span>
  <% } %>
</nav>
