<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h1 class="del">Error!</h1>
    <p class="del"><%=message%></p>
  </body>
</html>
