<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
    <%- include('./partials/drawbtn.ejs') %>
    <div class="content">
      <img src="/img/<%=id%>" alt="" class="dark">
      <h1 class="centered">Drawing with Friends</h1>
      <p class="centered">A collaborative <a href="/drawings">gallery</a> of doodles</p>
      <div class="centered">
        <button class="btn alt small" onclick="location.reload()">Random Drawing</button>
      </div>
    </div>
  </body>
</html>
