<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/nav.ejs', {currentUser: currentUser}) %>
    <p><a href="/drawings">View Drawings</a></p>
    <p><a href="/users/new">New User</a></p>
    <p><a href="/sessions/new">New Session (login)</a></p>


  </body>
</html>
