<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
    <% if (currentUser) { %>
      <p><a href="/sessions/end">Log Out</a>
    <% } else { %>
      <p><a href="/sessions/new">Log In</a></p>
    <% } %>
    <p><a href="/users/new">New User</a></p>
  </body>
</html>
