<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <div class="content">
      <h1>Menu</h1>
      <%- include('./partials/nav.ejs') %>
      <% if (currentUser) { %>
        <p><a href="/sessions/end">Log Out</a>
      <% } else { %>
        <p><a href="/sessions/new">Log In</a></p>
      <% } %>
      <p><a href="/users/new">New User</a></p>
    </div>

  </body>
</html>
