* {
  font-size: 21px;
  font-family: sans-serif;
  font-weight: normal;
}

a {
  color: dodgerblue;
}

img {

}

img, canvas, {
  padding: 0;
  margin: 0;

}

#post, #save {
  color: green;
}


canvas {
  background-color: cornsilk;
  display: block;
}

img:hover {
  filter: invert(54%) sepia(83%) saturate(1646%) hue-rotate(78deg) brightness(111%) contrast(76%);
}

.container{
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

button {
  all: unset;
  text-decoration: underline;
  color: dodgerblue;
  cursor: pointer;
}

#wipe, .del {
  color: red;
}
