<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
  <%- include('../partials/nav.ejs') %>
  <%- include('../partials/drawings.ejs') %>
  <%- include('../partials/drawbtn.ejs') %>
  </body>
</html>
