<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <%- include('../partials/nav.ejs') %>
    <h1>Index | <a href="/drawings/new">New</a></h1>
    <div class="container">
      <% data.forEach(item => { %>
          <a href="drawings/<%=item.id%>"><img src="img/<%=item.id%>" alt="" width="200px" height="200px"></a>
      <% }) %>
    </div>

  </body>
</html>
