<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head.ejs') %>
    <%- include('../partials/userinfo.ejs') %>
    <script type="text/javascript" src="/js/draw.js" defer ></script>
    <script type="text/javascript" src="/js/post.js" defer ></script>
  </head>
  <body>
    <%- include('../partials/nav.ejs') %>
    <div class="centered">
      <canvas id="artboard" width="400" height="400"></canvas>
      <p>
        <a id="post" href="#" class="btn alt">Post</a>
        <a id="wipe" href="#" class="btn alt">Clear</a>
      </p>

      <input type="text" name="title" id="title" value="" placeholder="Title">
      <p id="warning" style="display: none"></p>
    </div>

  </body>
</html>
